
/* elementUI 部分样式重构 */
.el-scrollbar{
  height: 100%;
  background-color: #545c64;
}

.el-scrollbar__wrap{
  overflow-x: hidden;   
}

/* 基础样式 */
.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clearfix{
  overflow: hidden;
}